@model IEnumerable<HotelReservationsManager.Data.Entities.Room>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

@using (Html.BeginForm("Index", "Rooms", FormMethod.Get))
{
    <p>
        Type: @Html.TextBox("RoomType")
        Room Number: @Html.TextBox("RoomNumber")
        <input type="submit" value="Filter" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InUse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdultBedPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildBedPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InUse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdultBedPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChildBedPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNumber)
                </td>

                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        @if (!item.InUse)
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }

                    </td>
                }

            </tr>
        }
    </tbody>
</table>
